<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title></title>
     <!-- <link rel="stylesheet" href="/css/app.css"> -->
 </head>
   <body>
    <header>

     <h1>All about Dogs</h1>
       <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/dogs/new">Add a New Dog</a></li>


        </ul>
      </nav>
     </header> <!-- header -->

<main>
  <h2>list of dogs</h2>
  <ul>
    <% for (let i = 0; i < dogs.length; i++) {  %>
    <li><a href="/dogs/<%=dogs[i].id%>"><%=dogs[i].name%></a></li>
    <li>Name: <%=dogs[i].name%></li>
    <li>Breed: <%=dogs[i].breed%></li>
    <li>Color: <%=dogs[i].color%></li>
    <li>Toy: <%=dogs[i].toy%></li>
    <% } %>

</ul>

   </body>
</html>